:root{
    --green:#658C4A;
    --white:#ffffff;
    --secondary:#E7CEC0;
    --text-color:#666666;
    --font-family: 'Roboto', sans-serif;
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    margin-bottom: 0;
}
li{
    display: inline-block;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.w-100{
    width: 100%;
}
/* hero section start */
header{
    background: var(--green);
}
header p{
    font-size: 14px;
    font-family: var(--font-family);
}
.header-search input::placeholder{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}
.navbar-toggler:focus{
   box-shadow: none;
}
.main-navbar .navbar-brand input::placeholder{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}
.main-navbar .main-nav .nav-link{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--text-color);
    text-transform: capitalize;
}
.main-navbar .main-nav .nav-link:hover{
    color: var(--green);
}
.banner-text{
    max-width: 320px;
}
 .banner-text h1{
    font-size: 45px;
    font-family: var(--font-family);
 }
 .banner-text p{
    font-size: 14px;
    font-family: var(--font-family); 
 }
 .common-btn a{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--white);
    width: 100px;
    height: 35px;
    background: var(--green);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .common-btn a:hover{
    box-shadow: 0 0 10px green;
 }
 .category .card .card-body h5{
    font-size: 25px;
    font-family: var(--font-family);
    color: var(--green);
 }
 .category .card .overly button{
    width: 120px;
    height: 35px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    box-shadow: 0 0 10px black;
 }
.category .card .overly{
    visibility: hidden;
    opacity: 0;
    bottom: -35px;
    left: 0;
    transition: ease-in-out 0.3s;
}
.category .card:hover .overly{
    opacity: 1;
    visibility: visible;
    bottom: 0;
    transition: ease-in-out 0.3s;
}
/* hero section End */
/* product part start */
#product-section{
    background: var(--green);
}
.product-heading{
    max-width: 575px;
}
.product-heading h2{
    font-size: 30px;
    font-family: var(--font-family);
}
.product-heading p{
    font-size: 14px;
    font-family: var(--font-family);
    color: #e91010;
}
.product-image{
    background: var(--green);
}
.product-image .card .card-body{
    background: var(--green);
}
.product-image .card{
    background: var(--green);
}
.product-image .card .card-body h5{
    font-family: var(--font-family);
    font-size: 16px;
}
.product-image .card .card-body p{
    font-family: var(--font-family);
    font-size: 14px;
}
/* product part End */
/* arrival part start */
#arrival-section{
    background: var(--white);
}
.arrival-heading h2{
    font-family: var(--font-family);
    font-size: 30px;
}
.arrival-heading p{
    font-size: 14px;
    font-family: var(--font-family);
}
.arrival-main .card{
    margin: 0 10px;
   
}
.arrival-main .card .card-body h5{
    font-size: 16px;
    font-family: var(--font-family);
}
.arrival-main .card .card-body p{
    font-size: 14px;
    font-family: var(--font-family);
    color: var(--green);
}
.arrival-main .arrival-slider{
    position: relative;
}
.arrival-slider .prev-arrow{
    background: black;
    width: 40px;
    height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 20px;
    z-index: 1000;
    position: absolute;
    top: -60px;
    right: 30px;
    color: var(--white);
}
.arrival-slider .prev-arrow:hover{
    box-shadow: 0 0 10px black;
}
.arrival-slider .next-arrow:hover{
    box-shadow: 0 0 10px black;
}
.arrival-slider .next-arrow{
    background: black;
    width: 40px;
    height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 20px;
    z-index: 1000;
    position: absolute;
    top: -60px;
    right: 90px;
    color: var(--white);
}
/* arrival part End */
/* commitment part start */
#commitment-section{
    background: url(../image/commitment.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#commitment-section .overly{
    background: #668c4abe;
    padding: 100px 0;
}
.commitment-text{
    max-width: 800px;
}
.commitment-text h4{
    width: 100%;
    font-size: 22px;
    font-family: var(--font-family);
}
.commitment-text .icon{
    max-width: 450px;
}
.commitment-text .icon img{
    width: 100%;
    height: auto;
}
/* commitment part End */