:root{
    --green:#658C4A;
    --white:#ffffff;
    --secondary:#E7CEC0;
    --text-color:#666666;
    --font-family: 'Roboto', sans-serif;
}
body{
    overflow-x: hidden;
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
}
ul, ol{
    list-style: none;
    padding: 0;
    margin: 0;
}
p{
    margin-bottom: 0;
}
li{
    display: inline-block;
}
a{
    display: inline-block;
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.w-100{
    width: 100%;
}
/* hero section start */
header{
    background: var(--green);
}
header p{
    font-size: 14px;
    font-family: var(--font-family);
}
.header-search input::placeholder{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}
.navbar-toggler:focus{
   box-shadow: none;
}
.main-navbar .navbar-brand input::placeholder{
    font-size: 16px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}
.main-navbar .main-nav .nav-link{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--text-color);
    text-transform: capitalize;
}
.main-navbar .main-nav .nav-link:hover{
    color: var(--green);
}
.banner-text{
    max-width: 320px;
}
 .banner-text h1{
    font-size: 45px;
    font-family: var(--font-family);
 }
 .banner-text p{
    font-size: 14px;
    font-family: var(--font-family); 
 }
 .common-btn a{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--white);
    width: 100px;
    height: 35px;
    background: var(--green);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .common-btn a:hover{
    box-shadow: 0 0 10px green;
 }
 .category .card .card-body h5{
    font-size: 25px;
    font-family: var(--font-family);
    color: var(--green);
 }
 .category .card .overly button{
    width: 120px;
    height: 35px;
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    box-shadow: 0 0 10px black;
 }
.category .card .overly{
    visibility: hidden;
    opacity: 0;
    bottom: -35px;
    left: 0;
    transition: ease-in-out 0.3s;
}
.category .card:hover .overly{
    opacity: 1;
    visibility: visible;
    bottom: 0;
    transition: ease-in-out 0.3s;
}
/* hero section End */
/* product part start */
#product-section{
    background: var(--green);
}
.product-heading{
    max-width: 575px;
}
.product-heading h2{
    font-size: 30px;
    font-family: var(--font-family);
}
.product-heading p{
    font-size: 14px;
    font-family: var(--font-family);
    color: #e91010;
}
.product-image{
    background: var(--green);
}
.product-image .card .card-body{
    background: var(--green);
}
.product-image .card{
    background: var(--green);
}
.product-image .card .card-body h5{
    font-family: var(--font-family);
    font-size: 16px;
}
.product-image .card .card-body p{
    font-family: var(--font-family);
    font-size: 14px;
}
/* product part End */
/* arrival part start */
#arrival-section{
    background: var(--white);
}
.arrival-heading h2{
    font-family: var(--font-family);
    font-size: 30px;
}
.arrival-heading p{
    font-size: 14px;
    font-family: var(--font-family);
}
.arrival-main .card{
    margin: 0 10px;
   
}
.arrival-main .card .card-body h5{
    font-size: 16px;
    font-family: var(--font-family);
}
.arrival-main .card .card-body p{
    font-size: 14px;
    font-family: var(--font-family);
    color: var(--green);
}
.arrival-main .arrival-slider{
    position: relative;
}
.arrival-slider .prev-arrow{
    background: var(--green);
    width: 40px;
    height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 20px;
    z-index: 1000;
    position: absolute;
    top: -60px;
    right: 30px;
    color: var(--white);
}
.arrival-slider .prev-arrow:hover{
    box-shadow: 0 0 10px black;
}
.arrival-slider .next-arrow:hover{
    box-shadow: 0 0 10px black;
}
.arrival-slider .next-arrow{
    background:var(--green);
    width: 40px;
    height: 40px;
    display: flex !important;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 20px;
    z-index: 1000;
    position: absolute;
    top: -60px;
    right: 90px;
    color: var(--white);
}
/* arrival part End */
/* commitment part start */
#commitment-section{
    background: url(../image/commitment.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#commitment-section .overly{
    background: #668c4abe;
    padding: 100px 0;
}
.commitment-text{
    max-width: 800px;
}
.commitment-text h4{
    width: 100%;
    font-size: 22px;
    font-family: var(--font-family);
}
.commitment-text .icon{
    max-width: 450px;
}
.commitment-text .icon img{
    width: 100%;
    height: auto;
}
/* commitment part End */
/* service part start */
#service-section{
    background: var(--white);
}
.service-heading{
    max-width: 320px;
}
.service-heading h2{
    font-size: 30px;
    font-family: var(--font-family);
    color: var(--green);
    position: relative;
    z-index: 1;
}
.service-heading h2::after{
    content: "";
    width: 100px;
    height: 100px;
    background: url(../image/vector-2.png);
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    left: 0;
    top: -10px;
    z-index: -1;
}
.service-item .card .icon{
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
}
.service-item .card .card-body h5{
    font-size: 16px;
    font-family: var(--font-family);
}
.service-item .card .card-body p{
    width:100%;
    font-size: 14px;
    font-family: var(--font-family);
}
/* service part End */
/* exist part start */
#exist-section{
    background: var(--secondary);
}

.exist-content{
    background: var(--green);
}
 .exist-content .exist-text{
   background: var(--secondary);
}
.exist-text h5{
    font-size: 25px;
    font-family: var(--font-family);
    color: var(--green);
    line-height: 35px;
}
.company-logo{
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.company-logo::after{
    content: "";
    width: 150px;
    height: 150px;
    background: var(--secondary);
    border-radius: 0 0 0 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}
.company-logo .dots{
    max-width: 90px;
    height: 80px;
    position: absolute;
    left: 0px;
    bottom: -20px;
    z-index: -1;
}
.company-logo .dots img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.company-logo .line{
    max-width: 280px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 40%;
    z-index: -1;
}
.company-logo .line img{
    width: 90%;
    height: 100%;
}
.company-logo .overly .c-logo{
    max-width: 200px;
    height: 50px;
}
.company-logo .overly .c-logo img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
/* exist part End */
/* subscribe part start */
#subscribe-section{
    background: url(../image/subscribe.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.newsletter{
    max-width: 400px;
    margin-top: 150px;
}
.newsletter h5{
    font-family: var(--font-family);
}
.newsletter p{
    font-size: 14px;
    font-family: var(--font-family);
}
.newsletter .email input::placeholder{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}
/* subscribe part End */
/* footer part start */
footer{
    background-color: var(--white);
}
.footer-bedge a{
    width: 100px;
    height: 100px;
    background: var(--green);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer-content h6{
    font-size: 16px;
    color: var(--green);
}
.footer-content ul li{
    display: block;
}
.footer-content ul li a{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 500;
    color: var(--text-color);
}
.footer-content ul li a:hover {
    color: var(--green);
}
.payment ul li{
    display: inline-block;
}
.copyright p{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight: 400;
    color: var(--text-color);
}
.copyright a{
    font-size: 14px;
    font-family: var(--font-family);
    font-weight:400;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid var(--text-color);
}
/* footer part End */

